<div class="container-fluid pt-3">
  <div class="text-start">
    <p [innerHTML]="introduction"></p>
  </div>

  <hr>

  <p-tabView>
    <p-tabPanel header="CORE COMPETENCIES">
      <app-core-competencies></app-core-competencies>
    </p-tabPanel>
    <p-tabPanel header="Technology Stack">
      <app-technical-skills></app-technical-skills>
    </p-tabPanel>
    <p-tabPanel header="PROFESSIONAL EXPERIENCE">
      <app-experience-component></app-experience-component>
    </p-tabPanel>
    <p-tabPanel header="EDUCATION ">
      <app-education-component></app-education-component>
    </p-tabPanel>
  </p-tabView>



</div>
