<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="row"><app-header-component></app-header-component></div>
      <div class="col-2">
        <app-side-bar></app-side-bar>
      </div>
      <div class="col-10">
        <div class="row">
          <div class="row"><app-body-component></app-body-component></div>
        </div>
      </div>
    </div>
    <div class="row"><app-footer-component></app-footer-component></div>
  </div>
</body>
</html>
