<h5>
  Strong understanding of modern web development technologies and methodologies,
  <br>including REST APIs, microservices, multi-tenant environment and cloud technologies (AWS)
</h5>
<p-divider></p-divider>
<h5>
  Solid expertise in back-end development and front-end technologies and frameworks such as
  <br>Java Spring Boot, JavaScript, Angular, HTML5, and CSS and a strong understanding of UI and cross-browser compatibility
</h5>
<p-divider></p-divider>
<h5>
  Ability to work well under pressure while handling changing and competing deadlines and time constraints.
</h5>
<p-divider></p-divider>
<h5>
  Capable of developing detailed project plans, ensuring resource availability and allocation, and delivering every project on time within budget and scope.
</h5>
<p-divider></p-divider>
<h5>
  Scrum Master and experienced in leading teams, managing priorities, and implementing Agile best practices to optimize team's performance
  <br>and deliver high-quality software products on time and within budget
</h5>
