<div class="container-fluid pt-3" style="background: rgba(246,246,248,255); height: 100%">
  <div class="row">
    <img src="assets/DrorProfilePicture.jpg" class="rounded-5" alt="Image" style="width: 250px">
  </div>
  <div class="row pt-3">
    <h3 style="font-weight: bold; color: rgba(0,81,135,255)">Personal info</h3>
  </div>
  <hr>
  <div class="row">
    <div class="col-1"><span class="material-symbols-outlined">call</span></div>
    <div class="col-10"><h5 style="font-weight: bold; color: rgba(0,81,135,255)">Phone </h5></div>
    <a [href]="phoneNumber">(647)-997-9506</a>
  </div>
  <p-divider></p-divider>
  <div class="row">
    <div class="col-1"><span class="material-symbols-outlined">home</span></div>
    <div class="col-10"><h5 style="font-weight: bold; color: rgba(0,81,135,255)">Address </h5></div>
    <h6 style="font-weight: bold">{{address}}</h6>
  </div>
  <p-divider></p-divider>
  <div class="row">
    <div class="col-1"><span class="material-symbols-outlined">mail</span></div>
    <div class="col-10"><h5 style="font-weight: bold; color: rgba(0,81,135,255)">Email </h5></div>
    <a [href]="email">Drortz123@gmail.com</a>
  </div>
  <p-divider></p-divider>
  <div class="row">
    <div class="col-1"><img width="30" height="30" src="https://img.icons8.com/ios/50/linkedin.png" alt="linkedin"/></div>
    <div class="col-10"><h5 style="font-weight: bold; color: rgba(0,81,135,255)">Linked-in </h5></div>
    <a [href]="linkedIn" target="_blank">{{linkedIn}}</a>
  </div>
  <p-divider></p-divider>
  <div class="row">
    <div class="col-1"><img width="30" height="30" src="https://img.icons8.com/material-outlined/24/000000/github.png" alt="github"/></div>
    <div class="col-10"><h5 style="font-weight: bold; color: rgba(0,81,135,255)">Github </h5></div>
    <a [href]="gitHub" target="_blank">{{gitHub}}/</a>
  </div>

</div>

